@font-face {
  font-family: Moderna;
  src: url("../font/MODERNA_.TTF");
}

:root {
  --primary-color: #f5e050;
  --secondary-color: #0a75bc;
  --bg-color: #231f20;
  --minion-yellow-2: #f6c616;
  --minion-yellow-3: #f4dd4b;
  --minion-blue-2: #0c457a;
  --minion-blue-3: #115695;
  --header-height: 100px;
  --gutter: 4vw;
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  /* background-color: var(--bg-color); */
  font: 16px/1.7 Helvetica, Helvetica Neue, Arial, sans-serif;
  background-image: radial-gradient(circle, #ffecd2 0%, #fcb69f 100%);
}

header {
  font-family: Moderna;
  width: 100vw;
  height: var(--header-height);
  /* padding: 4vh var(--gutter) 4vh var(--gutter); */
  background-color: var(--bg-color);
  color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: var(--gutter);
  /* position: relative; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
header .title {
  font-size: 4rem;
}

.minion {
  width: 300px;
  height: 300px;
  position: absolute;
  /* top: calc(var(--header-height) * 1.7); */
  top: 24px;
  z-index: -1;
  display: flex;
  justify-content: center;
  /* position: fixed; */
}
.minion img {
  width: 600px;
  position: relative;
  /* display: none; */
}

.eye {
  position: absolute;
  /* top: calc(var(--header-height) * 2.22); */
  top: 54px;
  /* width: 28px;
  height: 28px; */
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #eceff1;
  /* background-color: #45667c; */
  /* opacity: 0.5; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye-ball {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
}

main {
  /* padding: var(--gutter); */
  width: 100%;
  /* height: 100%; */
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.main-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  top: 200px;
}

.input-area {
  width: 800px;
  background-color: white;
  border-radius: 12px 12px 0 0;
  height: 80px;
  padding: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.input-area form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.input-area input {
  /* width: 300px; */
  width: calc(100% - 120px);
  height: 60px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-image: url("../images/minion icon.svg");
  background-blend-mode: darken;
  background-position: 6px 17px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding: 8px 40px;
  margin-right: 8px;
}
.input-area button {
  background-color: var(--bg-color);
  color: white;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 50px;
  letter-spacing: 0.1vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.input-area button:hover {
  background-color: #423a3d;
}
.loader-bcg {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.output-area {
  width: 800px;
  /* background-color: var(--bg-color); */
  background-color: var(--minion-blue-2);
  height: 300px;
  border-radius: 0 0 12px 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.output {
  width: 100%;
  /* height: 300px; */
  /* background-color: white; */
  background-color: var(--primary-color);
  height: calc(300px - (12px * 4));
  border-radius: 12px;
  padding: 24px;
  font-size: 1.1rem;
  overflow: auto;
}

.output-title {
  border-bottom: 2px solid rgba(32, 31, 19, 0.267);
  /* color: #4e494a; */
  /* font-size: 0.9rem; */
  font-weight: bold;
}
.translate-text {
  font-weight: 500;
  color: rgba(29, 29, 29, 0.719);
}
.translation {
  /* color: whi; */
  font-size: 1.1rem;
}

footer {
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  /* margin: 0; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
footer .about {
  font-size: 1.3rem;
  margin-top: 8px;
}
footer .by {
  font-size: 0.9rem;
}
footer a {
  color: #22d3ee;
  /* text-decoration: none; */
  /* line-height: 0; */
  margin: 0;
}
footer .social-media {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 991px) {
  .minion {
    display: none;
  }
  .main-content {
    /* width: 100%; */
    /* height: 100%; */
    /* height: 550px; */
    /* margin-top: 24px; */
    position: static;
    /* top: 100px; */
    /* margin-bottom: 100px; */
    overflow: hidden;
  }

  .input-area {
    width: 620px;
    /* margin-top: 50px; */
  }

  .output-area {
    width: 620px;
    height: auto;
  }
  .output {
    border-radius: 0;
    overflow: initial;
    height: auto;
  }
  main {
    height: 100%;
    /* height: initial; */
    /* min-height: 100vh; */
    /* min-height: calc(100vh - 120px); */
    padding-top: 24px;
    /* padding-bottom: 100px; */
    position: relative;
  }
}
@media only screen and (max-width: 667px) {
  header {
    justify-content: center;
    padding-left: 0;
    /* overflow: initial; */
  }
  .input-area {
    width: 550px;
    height: 140px;
  }
  .output-area {
    width: 550px;
  }
  .input-area form {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-area input {
    width: 100%;
    font-size: 1.1rem;
    background-size: 16px 16px;
    background-position: 6px 20px;
    padding: 8px 28px;
  }
  .input-area button {
    width: 100%;
    height: 50px;
    display: inline-block;
  }
  .loader-bcg {
    width: 100%;
  }
  .mobile-hide {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .input-area {
    width: 300px;
    /* height: 140px; */
  }
  .output-area {
    width: 300px;
  }
  footer .about {
    font-size: 1.1rem;
  }
}
